.position {
    color: #000000;
    font-size:40
}

h1 {
    color: #000000;
    font-size:29
    
}

h2 {
    color: #000000;
    font-size:15
}
h3 {
    color: #000000;
    font-size: 19;
    text-align:justify;
    
}

h4 {
    color: #000000;
    font-size:20;
}

h5 {
    color: #000000;
    font-size:13
    }

body {
    background-color:#EEE8AA
}

.profilepic {
    border-radius:50%
}

#left_col {
    background-color: #F0E68C;
    text-align:center
}



/******